.bg-strip{
    background-size: calc(100% / 6);
    background-repeat: repeat-x;
    border-left: 1px solid #c4c4c4;
    background-image: linear-gradient(to left, #c4c4c4 1px, transparent 1px, transparent);
       
}
.bg-enter{
    background-image: linear-gradient(to right, #fff calc(100% / 3), #0b1f43 calc(100% / 3) 100%)
}
.bg-base{
    background-image: linear-gradient(to right, #fff 50%, #0b1f43 50% 100%);
}
.nav-title{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #000
}
.navbar a:hover{
    color: #0b1f43;
}
.title{
    font-family: 'Noto Sans KR', sans-serif;
    text-align: left;
    margin-left: calc(105%/3);
    font-weight: 700;
    color: #060b11;
}
.sub-title{
    font-size: 56px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    color: #060b11;
}
.sub-subtitle{
    font-size: 32px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    color: #060b11;
}
.sub-content{
    font-size: 16px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    color: #808080;
}

 hr.strip{
    border: 1px solid #c4c4c4;
    color: #c4c4c4
 }
 .container .below-title{
     --container-margin: calc(100%/6);
     margin: 0px var(--container-margin);
     border-right: 1px solid #c4c4c4;
     border-left: 1px solid #c4c4c4;
 }
 .mobile-nopad{
     padding-left: 100px;
 }
 .mobile-nomar{
    margin-left: 100px;
}
.input-left{
    border-top-right-radius:0%!important;
    border-bottom-right-radius:0%!important;
}
.btn-normal{
    padding: 2px 20px 2px 20px;
    margin: 0px;
    background-color: #fff;
    border: 1px solid #c4c4c4;
    font-size: 14px;
    color: #999999;
    box-shadow: none;
    cursor: pointer;
  }
  .btn-sub{
      width: 20%;
      background-color: #17375e;
      color: white;
      border-top-right-radius:.25rem;
    border-bottom-right-radius:.25rem;
      padding: 0px 10px;
  }
  .box{
      width: 100%;
      padding: 92px 111px;
      border: 1px solid #999999;
      color: #060b11;
      font-size: 56px;
      display: flex;
      justify-content: center;

  }
  .img-ver{
    width: 267px;
    height:378px;
    object-fit: contain;
    background-color: #c4c4c4;
  }
  .footer-custom{
      background-color: #060b11;
      color: #fff;
      min-height: 170px;
  }
@media(min-width:576px){
   
    .img-ver{
        width: 267px;
        height:378px;
        object-fit: contain;
        background-color: #c4c4c4;
      }
}
@media(min-width:768px){
    .title{
        font-size: 30px;
    }
    .img-ver{
        width: 267px;
        height:378px;
        object-fit: contain;
        background-color: #c4c4c4;
      }
}
@media(min-width:992px){
    .title{
        font-size: 40px;
    }
    .sub-title{
        font-size: 40px;
    }
    .img-ver{
        width: 267px;
        height:378px;
        object-fit: contain;
        background-color: #c4c4c4;
      }
}
@media(min-width:1079px){
    
    .sub-title{
        font-size: 40px;
    }
    .img-ver{
        width: 267px;
        height:378px;
        object-fit: contain;
        background-color: #c4c4c4;
      }
}
@media(min-width:1200px){
   .title{
       font-size: 44px;
   }
   .img-ver{
    width: 267px;
    height:378px;
    object-fit: contain;
    background-color: #c4c4c4;
  }
}
@media(min-width:1400px){
    .title{
        font-size: 50px;
    }
    .img-ver{
        width: 267px;
        height:378px;
        object-fit: contain;
        background-color: #c4c4c4;
      }
}
@media(min-width:2000px){
    .title{
        font-size: 82px;
    }
    .below-title{
        
    }
    .img-ver{
        width: 433px;
        height:612px;
        object-fit: contain;
        background-color: #c4c4c4;
      }
 }
 @media(max-width:768px){
    
    .mobile-nopad{
        padding: 0px;
    }
}
@media(max-width:1200px){
    .box{
        width: 100%;
        padding: 60px 80px;
        border: 1px solid #999999;
        color: #060b11;
        font-size: 36px;
        display: flex;
        justify-content: center;
  
    }
}
@media(max-width: 992px){
    .mobile-nomar{
        margin: 0px;
    }
    .mobile-nopad{
        padding: 0px;
    }
    .mobile-middle{
        justify-content: center;
    }
    .mobile-mt{
        margin-top: 113px !important;
        
    }
    .title{
        color: white;
    }
    .container .below-title{
        margin: 0px;
    }
}