.bg-strip{
    background-size: calc(100% / 6);
    background-repeat: repeat-x;
    border-left: 1px solid #c4c4c4;
    background-image: linear-gradient(to left, #c4c4c4 1px, transparent 1px, transparent);
       
}
.bg-enter{
    background-image: linear-gradient(to right, #fff calc(100% / 3), #0b1f43 calc(100% / 3) 100%)
}
.bg-base{
    background-image: linear-gradient(to right, #fff 50%, #0b1f43 50% 100%);
}
.nav-title{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #000
}
.navbar a:hover{
    color: #0b1f43;
}

@media(min-width:2000px){
   
};
@media(min-width:576px){
   
    
};
@media(min-width:768px){
    
};
@media(min-width:992px){
    
};
@media(min-width:1200px){
   
};
@media(min-width:1400px){
   
};