.edit{
    color: #bfbfbf;
    margin: 0px 5px;

}
.edit:hover{
    color: #bfbfbf
}
.announcement{
    font-size: 18px;
    font-weight: 700;
}
.note-editable{
    background-color: #fff;
}
.clickable{
    cursor: pointer;
}
.clickable:hover{
    text-decoration: underline;
}